In [1]:
from ID import ID

In [2]:
IJ=ID("joaoviniciuspr",["Series","Irmao_do_Jorel","Temp1","Ep1"])

In [3]:
IJ.data()

Empty DataFrame
Columns: [Label, Nick]
Index: []

In [4]:
IJ.new('Irmao do Jorel','Irmao')
IJ.new('Jorel')
IJ.new('Nicolau','Nico')
IJ.new('Dona Danuza','Mae')
IJ.new('Sr Edson','Pai')
IJ.new('Vovo Juliana','Juju')
IJ.new('Vovo Gilda','Gigi')
IJ.new('Lara')

In [5]:
IJ.new('Gesonel','Geso')
IJ.new('Funcionario da Shostners','Func')
IJ.new('Debora','Deb')
IJ.new('Catiane','Cat')
IJ.new('Veronica','Vero')
IJ.new('Flavia','Fla')
IJ.new('Roberto Perdigotto','Perdi')
IJ.new('William Shostners','Will')
IJ.new('Steve Magal','Steve')
IJ.new('Zaza')
IJ.new('Rambozo','Rambo')
IJ.new('Tosh','Dog')
IJ.new('Patinador Dentuco','Pat1')
IJ.new('Patinador de Oculos','Pat2')

In [11]:
IJ.csv()

In [12]:
#IJ.news([['Irmao do Jorel','Irmao'],'Jorel',['Nicolau','Nico'],['Dona Danuza','Mae'],['Sr Edson','Pai'],['Vovo Juliana','Juju'],['Vovo Gilda','Gigi'],'Lara'])

Esse personagem já está na lista
Esse personagem já está na lista
Esse personagem já está na lista
Esse personagem já está na lista
Esse personagem já está na lista
Esse personagem já está na lista
Esse personagem já está na lista
Esse personagem já está na lista

In [7]:
#IJ.delete(5)

Label    Sr Edson
Nick          Pai
Name: 005, dtype: object
Você realmente deseja deletar?s
Deletado

In [16]:
#IJ.change(2,7)

In [21]:
#IJ.review()

Label    Irmao do Jorel
Nick              Irmao
Name: 001, dtype: object
Corrigir:

Label    Jorel
Nick
Name: 002, dtype: object
Corrigir:change

Trocar linha 002 pela linha: 7
Label    Nicolau
Nick        Nico
Name: 003, dtype: object
Corrigir:

Label    Dona Danuza
Nick             Mae
Name: 004, dtype: object
Corrigir:c

Trocar Dona Danuza por: dona viada
Trocar Mae por: viadona
Label    Sr Edson
Nick          Pai
Name: 005, dtype: object
Corrigir:

Label    Vovo Juliana
Nick             Juju
Name: 006, dtype: object
Corrigir:

Label    Jorel
Nick
Name: 007, dtype: object
Corrigir:

Label    Lara
Nick
Name: 008, dtype: object
Corrigir:

              Label     Nick
ID
001  Irmao do Jorel    Irmao
002      Vovo Gilda     Gigi
003         Nicolau     Nico
004      dona viada  viadona
005        Sr Edson      Pai
006    Vovo Juliana     Juju
007           Jorel
008            Lara

In [106]:
e=pd.read_csv('Irmao_do_Jorel_Ep1_Node.csv',dtype=str)
e = e.set_index("ID")
e

              Label   Nick
ID
001  Irmao do Jorel  Irmao
002           Jorel    NaN
003         Nicolau   Nico
004     Dona Danuza    Mae
005        Sr Edson    Pai
006    Vovo Juliana   Juju
007      Vovo Gilda   Gigi
008            Lara    NaN

In [125]:
e.to_excel("/dados/home/joaoviniciuspr/IC_Redes/Trabalhos/Irmao_do_Jorel/Temp1/Ep1/teste.xls")

In [26]:
user = "joao"
type(user)==str

True

In [27]:
int("0000001")

1