In [1]:
from ID import ID

In [2]:
IJ=ID()

In [3]:
IJ.data()

Empty DataFrame
Columns: [Label, Nick]
Index: []

In [4]:
IJ.new('Irmao do Jorel','Irmao')
IJ.new('Jorel')
IJ.new('Nicolau','Nico')
IJ.new('Dona Danuza','Mae')
IJ.new('Sr Edson','Pai')
IJ.new('Vovo Juliana','Juju')
IJ.new('Vovo Gilda','Gigi')
IJ.new('Lara')

In [5]:
IJ.delete()

Label    Lara
Nick
Name: 008, dtype: object
VocÃª realmente deseja deletar?

In [6]:
IJ.change(2,7)

In [7]:
IJ.review()

Label    Irmao do Jorel
Nick              Irmao
Name: 001, dtype: object
Corrigir:

Label    Vovo Gilda
Nick           Gigi
Name: 002, dtype: object
Corrigir:

Label    Nicolau
Nick        Nico
Name: 003, dtype: object
Corrigir:

Label    Dona Danuza
Nick             Mae
Name: 004, dtype: object
Corrigir:

Label    Sr Edson
Nick          Pai
Name: 005, dtype: object
Corrigir:

Label    Vovo Juliana
Nick             Juju
Name: 006, dtype: object
Corrigir:

Label    Jorel
Nick
Name: 007, dtype: object
Corrigir:

Label    Lara
Nick
Name: 008, dtype: object
Corrigir:

              Label   Nick
ID
001  Irmao do Jorel  Irmao
002      Vovo Gilda   Gigi
003         Nicolau   Nico
004     Dona Danuza    Mae
005        Sr Edson    Pai
006    Vovo Juliana   Juju
007           Jorel
008            Lara

In [85]:
IJ.novo('Gesonel, O Mestre dos Disfarces','Geso')
IJ.novo('Funcionario da Shostners','FuncS&S')
IJ.novo('Debora','Deb')
IJ.novo('Catiane','Cat')
IJ.novo('Veronica','Vero')
IJ.novo('Flavia','Fla')
IJ.novo('Roberto Perdigotto','Perdi')
IJ.novo('William Shostners','Will')
IJ.novo('Steve Magal','Magal')
IJ.novo('Zaza')
IJ.novo('Rambozo','Ramb')
IJ.novo('Tosh','Dog')
IJ.novo('Patinador Dentuco','Pat1')
IJ.novo('Patinador de Oculos','Pat2')

In [106]:
e=pd.read_csv('Irmao_do_Jorel_Ep1_Node.csv',dtype=str)
e = e.set_index("ID")
e

              Label   Nick
ID
001  Irmao do Jorel  Irmao
002           Jorel    NaN
003         Nicolau   Nico
004     Dona Danuza    Mae
005        Sr Edson    Pai
006    Vovo Juliana   Juju
007      Vovo Gilda   Gigi
008            Lara    NaN

In [125]:
e.to_excel("/dados/home/joaoviniciuspr/IC_Redes/Trabalhos/Irmao_do_Jorel/Temp1/Ep1/teste.xls")