In [1]:
import pandas as pd

In [2]:
from ID import ID
from Scene import Scene

In [3]:
directory='/dados/home/joaoviniciuspr/IC_Redes/Trabalhos/Series/Irmao_do_Jorel/Temp1/Ep1'

In [4]:
IJ=ID(directory)
IJ.importing()
IJ.data()

                        Label   Nick
ID
001            Irmao do Jorel  irmao
002                     Jorel
003                   Nicolau   nico
004               Dona Danuza    mae
005                  Sr Edson    pai
006              Vovo Juliana   juju
007                Vovo Gilda   gigi
008                      Lara
009                   Gesonel   geso
010  Funcionario da Shostners   func
011                    Debora    deb
012                   Catiane    cat
013                  Veronica   vero
014                    Flavia    fla
015        Roberto Perdigotto  perdi
016         William Shostners   will
017               Steve Magal  steve
018                      Zaza
019                   Rambozo  rambo
020                      Tosh    dog
021         Patinador Dentuco   pat1
022       Patinador de Oculos   pat2

In [13]:
DF=pd.read_csv(directory+'/Scene.csv',dtype=str)
DF=DF.set_index("Scene")
DF.fillna('',inplace=True)

In [14]:
for i in DF.columns[0:4]:
    DF[i] = pd.to_numeric(DF[i])
    #DF[i]=DF[i].astype(str)

In [15]:
DF.dtypes

Min_i     int64
Seg_i     int64
Min_f     int64
Seg_f     int64
P1       object
P2       object
P3       object
P4       object
P5       object
P6       object
P7       object
P8       object
P9       object
P10      object
P11      object
dtype: object