In [1]:
import pandas as pd
import sys
sys.path.insert(0,'/dados/home/joaoviniciuspr/IC_Redes/Funcoes')
from ID import ID
from Scene import Scene
from Relation import Relation

In [2]:
directory='/dados/home/joaoviniciuspr/IC_Redes/Trabalhos/Series/Irmao_do_Jorel/Temp1/Ep1'

In [3]:
IJ=ID(directory)

In [4]:
IJ.new('Irmao do Jorel','Irmao')
IJ.new('Jorel')
IJ.new('Nicolau','Nico')
IJ.new('Dona Danuza','Mae')
IJ.new('Sr Edson','Pai')
IJ.new('Vovo Juliana','Juju')
IJ.new('Vovo Gilda','Gigi')
IJ.new('Lara')

In [5]:
IJ.new('Gesonel','Geso')
IJ.new('Funcionario da Shostners','Func')
IJ.new('Debora','Deb')
IJ.new('Catiane','Cat')
IJ.new('Veronica','Vero')
IJ.new('Flavia','Fla')
IJ.new('Roberto Perdigotto','Perdi')
IJ.new('William Shostners','Will')
IJ.new('Steve Magal','Steve')
IJ.new('Zaza')
IJ.new('Rambozo','Rambo')
IJ.new('Tosh','Dog')
IJ.new('Patinador Dentuco','Pat1')
IJ.new('Patinador de Oculos','Pat2')

In [6]:
IJ.csv()

In [7]:
IJ2=Scene(directory)

In [8]:
IJ2.importing_id()

In [14]:
IJ2.importing()

In [47]:
IJ2.data()

,Min_i,Seg_i,Min_f,Seg_f,P1,P2,P3,P4,P5,P6,P7,P8,P9,P10,P11
Scene,,,,,,,,,,,,,,,
Scene1,0,22,1,21,1,2,3,4,5,6,9,20,,,
Scene2,1,22,1,57,1,2,3,4,5,6,9,10,,,
Scene3,1,58,2,26,1,3,5,8,,,,,,,
Scene4,2,27,3,7,2,3,5,11,12,13,14,,,,
Scene5,3,8,3,23,1,3,5,,,,,,,,
Scene6,3,24,4,23,4,5,7,9,15,16,18,21,22,,
Scene7,4,24,4,59,1,2,3,4,5,6,7,9,15,16,18
Scene8,5,0,5,50,005,006,007,008,,,,,,,
Scene9,5,51,,,001,010,040,340,500,001,010,040,340,500,

In [24]:
IJ2.inputing()

Name: 10

Name: 1

Name: 500

Name: 40

Name: 340

Name: stop

In [46]:
a=IJ2.data()
b=a.loc['Scene9','P1':'P5']
a
#b=b.sort_values()
#sorted(b.values)
#b

,Min_i,Seg_i,Min_f,Seg_f,P1,P2,P3,P4,P5,P6,P7,P8,P9,P10,P11
Scene,,,,,,,,,,,,,,,
Scene1,0,22,1,21,1,2,3,4,5,6,9,20,,,
Scene2,1,22,1,57,1,2,3,4,5,6,9,10,,,
Scene3,1,58,2,26,1,3,5,8,,,,,,,
Scene4,2,27,3,7,2,3,5,11,12,13,14,,,,
Scene5,3,8,3,23,1,3,5,,,,,,,,
Scene6,3,24,4,23,4,5,7,9,15,16,18,21,22,,
Scene7,4,24,4,59,1,2,3,4,5,6,7,9,15,16,18
Scene8,5,0,5,50,005,006,007,008,,,,,,,
Scene9,5,51,,,001,010,040,340,500,001,010,040,340,500,

In [40]:
a.loc['Scene9','P1':'P5']=b.values
a

,Min_i,Seg_i,Min_f,Seg_f,P1,P2,P3,P4,P5,P6,P7,P8,P9,P10,P11
Scene,,,,,,,,,,,,,,,
Scene1,0,22,1,21,1,2,3,4,5,6,9,20,,,
Scene2,1,22,1,57,1,2,3,4,5,6,9,10,,,
Scene3,1,58,2,26,1,3,5,8,,,,,,,
Scene4,2,27,3,7,2,3,5,11,12,13,14,,,,
Scene5,3,8,3,23,1,3,5,,,,,,,,
Scene6,3,24,4,23,4,5,7,9,15,16,18,21,22,,
Scene7,4,24,4,59,1,2,3,4,5,6,7,9,15,16,18
Scene8,5,0,5,50,005,006,007,008,,,,,,,
Scene9,5,51,,,001,010,040,340,500,001,010,040,340,500,