In [ ]:
import pandas as pd

# Classe - Tabela de IDs

In [80]:
class ID:
    def __init__(self):
        self.DF=pd.DataFrame(columns=['Label','Nick'])
        self.DF.index.name='ID'
        
    def data(self):
        return self.DF
        
    def novo(self,label,nick=''):
        if (self.proc(label)==False and nick=='') or (self.proc(label)==False and self.proc(nick)==False):
            self.DF.loc[self.ind()]=[label,nick]
            
        else:
            print('Esse personagem já está na lista')
            
    def novos(self,L):
        for i in L:
            if len(i)==1:
                self.novo(i[0])
            elif len(i)==2:
                self.novo(i[0],i[1])
    
    def ind(self):
        a='00'+str(self.DF.shape[0]+1)
        b=a[-3:-1]+a[-1]
        return b
    
    def proc(self,nome):
        DF1=self.DF.Label==nome
        v1=DF1.sum()
        if v1>0:
            return self.DF[self.DF.Label==nome].index[0]
        DF2=self.DF.Nick==nome
        v2=DF2.sum()
        if v2>0:
            return self.DF[self.DF.Nick==nome].index[0]
        return False
    
    def corrigir(self,ind=-1):
        a=input('Trocar '+self.DF.iloc[ind,0]+' por: ')
        b=input('Trocar '+self.DF.iloc[ind,1]+' por: ')
        if a!='':
            self.DF.iloc[ind,0]=a
        if b!='':
            self.DF.iloc[ind,1]=b
        
    def revisao(self):
        for i in range(1,self.DF.shape[0]):
            print(self.DF.iloc[[i],:])
            c=input('Corrigir:')
            if c!='':
                self.corrigir(i)
                
    def csv(self,nome):
        self.DF.to_csv(nome+'_Node.csv')
        
    def excel(self,nome):
        self.DF.to_excel(nome+'_Node.xlsx')

In [87]:
IJ=ID()

In [90]:
IJ.data()

              Label   Nick
ID
001  Irmao do Jorel  Irmao
002           Jorel
003         Nicolau   Nico
004     Dona Danuza    Mae
005        Sr Edson    Pai
006    Vovo Juliana   Juju
007      Vovo Gilda   Gigi
008            Lara

In [89]:
IJ.novo('Irmao do Jorel','Irmao')
IJ.novo('Jorel')
IJ.novo('Nicolau','Nico')
IJ.novo('Dona Danuza','Mae')
IJ.novo('Sr Edson','Pai')
IJ.novo('Vovo Juliana','Juju')
IJ.novo('Vovo Gilda','Gigi')
IJ.novo('Lara')

In [85]:
IJ.novo('Gesonel, O Mestre dos Disfarces','Geso')
IJ.novo('Funcionario da Shostners','FuncS&S')
IJ.novo('Debora','Deb')
IJ.novo('Catiane','Cat')
IJ.novo('Veronica','Vero')
IJ.novo('Flavia','Fla')
IJ.novo('Roberto Perdigotto','Perdi')
IJ.novo('William Shostners','Will')
IJ.novo('Steve Magal','Magal')
IJ.novo('Zaza')
IJ.novo('Rambozo','Ramb')
IJ.novo('Tosh','Dog')
IJ.novo('Patinador Dentuco','Pat1')
IJ.novo('Patinador de Oculos','Pat2')

In [91]:
IJ.revisao()

     Label Nick
ID
002  Jorel
Corrigir:
       Label  Nick
ID
003  Nicolau  Nico
Corrigir:
           Label Nick
ID
004  Dona Danuza  Mae
Corrigir:
        Label Nick
ID
005  Sr Edson  Pai
Corrigir:
            Label  Nick
ID
006  Vovo Juliana  Juju
Corrigir:
          Label  Nick
ID
007  Vovo Gilda  Gigi
Corrigir:
    Label Nick
ID
008  Lara
Corrigir:

In [92]:
IJ.csv('Irmao_do_Jorel_Ep1')

In [106]:
e=pd.read_csv('Irmao_do_Jorel_Ep1_Node.csv',dtype=str)
e = e.set_index("ID")
e

              Label   Nick
ID
001  Irmao do Jorel  Irmao
002           Jorel    NaN
003         Nicolau   Nico
004     Dona Danuza    Mae
005        Sr Edson    Pai
006    Vovo Juliana   Juju
007      Vovo Gilda   Gigi
008            Lara    NaN

In [125]:
e.to_excel("/dados/home/joaoviniciuspr/IC_Redes/Trabalhos/Irmao_do_Jorel/Temp1/Ep1/teste.xls")