In [1]:
from ID import ID

In [2]:
IJ=ID()

In [11]:
IJ.data()

              Label   Nick
ID
001  Irmao do Jorel  Irmao
002           Jorel
003      Vovo Gilda   Gigi
004     Dona Danuza    Mae
005        Sr Edson    Pai
006    Vovo Juliana   Juju
007      Vovo Gilda   Gigi

In [4]:
IJ.new('Irmao do Jorel','Irmao')
IJ.new('Jorel')
IJ.new('Nicolau','Nico')
IJ.new('Dona Danuza','Mae')
IJ.new('Sr Edson','Pai')
IJ.new('Vovo Juliana','Juju')
IJ.new('Vovo Gilda','Gigi')
IJ.new('Lara')

In [8]:
IJ.delete()

Label    Lara
Nick
Name: 008, dtype: object
Você realmente deseja deletar?s

In [10]:
IJ.change(3,7)

In [29]:
IJ.review()

Label    Jorel
Nick
Name: 001, dtype: object
Corrigir:

Label    Dona Danuza
Nick             Mae
Name: 002, dtype: object
Corrigir:

           Label Nick
ID
001        Jorel
002  Dona Danuza  Mae

In [85]:
IJ.novo('Gesonel, O Mestre dos Disfarces','Geso')
IJ.novo('Funcionario da Shostners','FuncS&S')
IJ.novo('Debora','Deb')
IJ.novo('Catiane','Cat')
IJ.novo('Veronica','Vero')
IJ.novo('Flavia','Fla')
IJ.novo('Roberto Perdigotto','Perdi')
IJ.novo('William Shostners','Will')
IJ.novo('Steve Magal','Magal')
IJ.novo('Zaza')
IJ.novo('Rambozo','Ramb')
IJ.novo('Tosh','Dog')
IJ.novo('Patinador Dentuco','Pat1')
IJ.novo('Patinador de Oculos','Pat2')

In [28]:
IJ.delete('000')

Label    Dona Danuza
Nick             Mae
Name: 002, dtype: object
Você realmente deseja deletar?

In [106]:
e=pd.read_csv('Irmao_do_Jorel_Ep1_Node.csv',dtype=str)
e = e.set_index("ID")
e

              Label   Nick
ID
001  Irmao do Jorel  Irmao
002           Jorel    NaN
003         Nicolau   Nico
004     Dona Danuza    Mae
005        Sr Edson    Pai
006    Vovo Juliana   Juju
007      Vovo Gilda   Gigi
008            Lara    NaN

In [43]:
def ind(num):
    a='00'+str(num)
    b=a[-3:-1]+a[-1]
    return b

In [35]:
import pandas as pd

In [52]:
c=IJ.data()
c=c.drop(['004'])
a=c[0:2]
b=pd.DataFrame(columns=['Label','Nick'])
for i in range(5,9):
    b.loc[ind(i-1),'Label':'Nick']=[c.loc[ind(i),'Label'],c.loc[ind(i),'Nick']]
res=pd.concat([a,b])
res

              Label   Nick
001  Irmao do Jorel  Irmao
002           Jorel
004        Sr Edson    Pai
005    Vovo Juliana   Juju
006      Vovo Gilda   Gigi
007            Lara

In [125]:
e.to_excel("/dados/home/joaoviniciuspr/IC_Redes/Trabalhos/Irmao_do_Jorel/Temp1/Ep1/teste.xls")

In [ ]:
if line==0:
            print(self.DF.iloc[line-1,:])
            d=input('Você realmente deseja deletar?')
            if d.lower()=='sim' or d.lower()=='s' or d.lower()=='yes':
                self.DF = self.DF.drop([self.ind(self.DF.shape[0])])
        else: