In [1]:
import pandas as pd

In [2]:
from ID import ID
from Scene import Scene

In [3]:
user = "joaoviniciuspr"
folders = ["dados","home",user,"IC_Redes","Trabalhos","Series","Irmao_do_Jorel","Temp1","Ep1"]
directory=""
for i in folders:
    directory+="/"
    directory+=i

In [4]:
IJ=ID(directory)

In [5]:
IJ.data()

Empty DataFrame
Columns: [Label, Nick]
Index: []

In [6]:
IJ.new('Irmao do Jorel','Irmao')
IJ.new('Jorel')
IJ.new('Nicolau','Nico')
IJ.new('Dona Danuza','Mae')
IJ.new('Sr Edson','Pai')
IJ.new('Vovo Juliana','Juju')
IJ.new('Vovo Gilda','Gigi')
IJ.new('Lara')

In [7]:
IJ.new('Gesonel','Geso')
IJ.new('Funcionario da Shostners','Func')
IJ.new('Debora','Deb')
IJ.new('Catiane','Cat')
IJ.new('Veronica','Vero')
IJ.new('Flavia','Fla')
IJ.new('Roberto Perdigotto','Perdi')
IJ.new('William Shostners','Will')
IJ.new('Steve Magal','Steve')
IJ.new('Zaza')
IJ.new('Rambozo','Rambo')
IJ.new('Tosh','Dog')
IJ.new('Patinador Dentuco','Pat1')
IJ.new('Patinador de Oculos','Pat2')

In [9]:
IJ.csv()

In [10]:
IJ2=Scene(directory)

In [12]:
direc=IJ.directory

In [15]:
DF=pd.read_csv(direc+'/Scene.csv',dtype=str)
DF=DF.set_index("Scene")
DF.fillna('',inplace=True)

In [16]:
DF

       Min_i Seg_i Min_f Seg_f P1 P2 P3  P4  P5  P6  P7  P8  P9 P10 P11
Scene
Scene1     0    22     1    21  1  2  3   4   5   6   9  20
Scene2     1    22     1    57  1  2  3   4   5   6   9  10
Scene3     1    58     2    26  1  3  5   8
Scene4     2    27     3     7  2  3  5  11  12  13  14
Scene5     3     8     3    23  1  3  5
Scene6     3    24     4    23  4  5  7   9  15  16  18  21  22
Scene7     4    24     4    59  1  2  3   4   5   6   7   9  15  16  18
Scene8     5     0

In [20]:
pd.to_numeric(DF)

TypeError: arg must be a list, tuple, 1-d array, or Series

In [24]:
DF.dtypes["P1"] = int

In [32]:
a = DF["P1"]

In [ ]:
DF = pd.to_int(DF)

In [42]:
DF.dtypes

Min_i     object
Seg_i     object
Min_f     object
Seg_f     object
P1       float64
P2        object
P3        object
P4        object
P5        object
P6        object
P7        object
P8        object
P9        object
P10       object
P11       object
dtype: object

In [ ]:
IJ2.timei(0,22)
IJ2.news([1,2,3,4,5,6,9,20])
IJ2.timef(1,21)
IJ2.news([1,2,3,4,5,6,9,10])
IJ2.timef(1,57)
IJ2.news([1,3,5,8])
IJ2.timef(2,26)
IJ2.news([2,3,5,11,12,13,14])
IJ2.timef(3,7)
IJ2.news([1,3,5])
IJ2.timef(3,23)
IJ2.news([4,5,7,9,15,16,18,21,22])
IJ2.timef(4,23)
IJ2.news([1,2,3,4,5,6,7,9,15,16,18])
IJ2.timef(4,59)