In [1]:
import pandas as pd

In [2]:
from ID import ID

In [3]:
user = "joaoviniciuspr"
folders = ["dados","home",user,"IC_Redes","Trabalhos","Series","Irmao_do_Jorel","Temp1","Ep1"]
directory=""
for i in folders:
    directory+="/"
    directory+=i

In [4]:
IJ=ID(folders,directory)

In [7]:
IJ.data()

              Label   Nick
ID
001  Irmao do Jorel  irmao
002           Jorel
003         Nicolau   nico
004     Dona Danuza    mae
005        Sr Edson    pai
006    Vovo Juliana   juju
007      Vovo Gilda   gigi
008            Lara

In [6]:
IJ.new('Irmao do Jorel','Irmao')
IJ.new('Jorel')
IJ.new('Nicolau','Nico')
IJ.new('Dona Danuza','Mae')
IJ.new('Sr Edson','Pai')
IJ.new('Vovo Juliana','Juju')
IJ.new('Vovo Gilda','Gigi')
IJ.new('Lara')

In [6]:
IJ.new('Gesonel','Geso')
IJ.new('Funcionario da Shostners','Func')
IJ.new('Debora','Deb')
IJ.new('Catiane','Cat')
IJ.new('Veronica','Vero')
IJ.new('Flavia','Fla')
IJ.new('Roberto Perdigotto','Perdi')
IJ.new('William Shostners','Will')
IJ.new('Steve Magal','Steve')
IJ.new('Zaza')
IJ.new('Rambozo','Rambo')
IJ.new('Tosh','Dog')
IJ.new('Patinador Dentuco','Pat1')
IJ.new('Patinador de Oculos','Pat2')

In [21]:
d={'Min_i':[0],'Seg_i':[0],'Min_f':[''],'Seg_f':['']}
DF=pd.DataFrame(d,columns=list(d.keys()),index=['Cena1'])

In [12]:
a=IJ.data()
b=a=='irmao'
b=

In [42]:
l=list(a.index[a["Nick"] == "nico"])
if len(l)==1:
    print('kkk')
l

kkk

['003']

In [21]:
a

              Label   Nick
ID
001  Irmao do Jorel  irmao
002           Jorel
003         Nicolau   nico
004     Dona Danuza    mae
005        Sr Edson    pai
006    Vovo Juliana   juju
007      Vovo Gilda   gigi
008            Lara